/* ============================================ 
               Html, Body
   ============================================ */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5 h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* ============================================ 
                Content-boxes
   ============================================ */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0px;
}

.content-box-sm {
    padding: 90px 0;

}
/* ============================================ 
                Preloader
   ============================================ */
#preloader {
    background-color: #000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
#status{
    background-image: url("../icons/preloader1.gif");
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
  

/* ============================================ 
              Home
   ============================================ */
#home {
    background: none;
    height: 100%;
}

#home {
    background: url("../homepage-img/innvis_homepage_john-towne.jpg");
    background-size: cover;
}

#home .content-box-lg {
    background: rgba(0, 0, 0, 0.5);
    padding: 150px 0;
}

.home-text {
    color: #fff;
}

.home-text h1 {
    font-size: 80.5pt;
}

.home-text p {
    font-size: 22px;
}
/* ============================================ 
                Arrow Down
   ============================================ */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}



/* ============================================ 
                Button
   ============================================ */

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    text-transform: uppercase;
    margin: 10px 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
}

.btn-home {
    color: #000000;
    background: #fff;
    border: 1px solid #fff;
    letter-spacing: 4px;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #22333B;
    border: 1px solid #22333B;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-white {
    color: #212226;
    border: 1px solid #fff;
    background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 0px;
    font-size: 22px;
   /* display: none; */
}

/* ============================================ 
                Expertise
   ============================================ */
#expertise {
    background: none;
    min-height: 100%;
}

/*
#expertise{
    background: url("../homepage-img/our-expertise.png");
    background-size: cover; 
    z-index: 999;
}
*/
#expertise .content-box-lg {
    background: rgba(0, 0, 0, 0.04);
}

#expertise .our {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 50px;
}

#expertise h1 span {
    color: #182164;
}

#expertise .content h1 {
    color: #182164;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 30px;
}

.content .expertise-p {
    position: relative;
    margin-top: -30px;
    font-size: 15px;
    font-weight: 500px;
    color: #000;
}


.content .selected {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: -60px;
}

.content .selected-right {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: -60px;
}

/* Learn More */
.agency-principles {
    text-align: center;
    position: relative;
    top: 40px;
}

.agency-principles a {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500px;
    color: #6A93CA;
}


/* ============================================ 
                Trusted
   ============================================ */
#trusted {
    height: 50%;
}
#trusted {
    background: url("../homepage-img/circles/innvis_homepage_circles.png") no-repeat;
    background-size: cover;
    background-color: #000; 
}

.content-t h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    line-height: 90px;
    margin: auto 0;
    margin-top: -30px;
    position: relative;
    left: 100px;
}

.content-t h1 span{
    position: relative;
    left: 70px;
}

.kcli-img{
    border-radius: 50%;
    background-color: #182164;
    width: 220px;
    height: 220px;
    position: relative;
    bottom: 35px;
    left: 70px;
    box-shadow:  0px 0px 40px #fff;
   
}
.kcli-img img{
    position: absolute;
    top: 40px;
    left: 60px;
    width: 100px;
    height: 150px;
}

/* And More */
.agency-principles-1 {
    text-align: center;
    position: relative;
    bottom: 60px;
}

.agency-principles-1 a {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500px;
    color: #CCCCCC;
}


/* ============================================ 
                Work
   ============================================ */
#work{
    padding-bottom: 0px;
}
#work .our {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 50px;
}

#work h1 span {
    color: #182164;
}

#work .work-p {
    font-size: 15px;
    font-weight: 600px;
    color: #000;
    text-align: center;
    width: 600px;
    margin: 60px auto;
}

/* second part */
#services-02 {
    background-color: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    width: 210px;
    height: 77px;
}

#services-tabs ul hr {
    height: 3px;
    width: 70%;
    background-color: #000;
    margin: 0 auto;
    margin-top: -5px;
    padding: 0;
    border: none;
}

/*Tab active state */

#services-tabs ul li.r-tabs-state-active a {
    color: #182164;
    font-weight: 600;
    border-bottom: 9px solid #182164;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}


.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
    min-height: 469px;
}

.service-tab .tab-bg {
    background-color: #fff;
    width: 100%;
    padding: 59px 30px;
    min-height: 469px;
    max-height: 469px;
}

.service-tab h1 {
    font-size: 55px;
    font-weight: 800;
    color: #182164;
    margin-bottom: 20px;
}

.service-tab p {
    color: #000;
    line-height: 24px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 600px;
}






/* ============================================ 
                Contact
   ============================================ */

#contact{
    margin-top: -120px;
    padding-top: 0px;
}
#contact .contact-left{
    padding: 0;
    margin-left: -20px;
    object-fit: fill;
    margin-top: -120px;  
    position: relative;
}

.contact-left img{
    height: 755px;
    position: relative;
}
.contact-left .contact-text{
    position: absolute;
    top: 75px;
    left: 97px;
    color: #fff;
    z-index: 9999;
}
.contact-text h1{
    font-size: 60px;
    width: 80%;
    letter-spacing: 4px;
}
.contact-text h3{
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 4px;
}

/* right side */
.col-md-8{
    padding: 0;
}
.col-md-4{
    padding: 0;
}
.contact-right {
    background-color: #000;
    width: 100%;
    height: 755px; 
    margin-top: -120px;  
    position: relative;
}

.contact-right form{
    position: absolute;
    top: 120px;
    left: 40px;
    right: 40px;
}
.contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    background-color: #000;
    border: none;
    border-bottom: 3px solid #fff;
    margin-bottom: 80px;
}

/* button */
.btn-general-2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0px 6px;
    padding: 5px 37px 5px 37px;
    transition: all 0.5s;
}

.btn-black{
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
}
.btn-black:hover,
.btn-black:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}



/* ============================================ 
              Footer
   ============================================ */

footer {
    background-image: url(../homepage-img/circles/innvis_homepage_circles.png);
    background-size: cover;
    background-color: #000;
    padding: 20px;
    margin-top: -120px; 
}
.all-content{
    color: #E6E6E6;
    position: relative;
    top: -20px;
    right: 130px;   
}
.all-content h1{
    letter-spacing: 5px;
    font-weight: bold;
}

.innvis{
    background: url("../homepage-img/INNVIS_logo/tech1.png")no-repeat;
    height: 70px;
    width:  255px;
    margin-top: 110px;

}
.stick-h{
    font-size: 60px;
    letter-spacing: 6px;
    margin-top: 80px;
}

.col-1 h6{
    color: #808080;
    font-size: 17px;
    width: 80%;
}

.col-2 h3,
.col-3 h3,
.col-4 h3{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 90px;
    margin-bottom: 20px;
}

.col-2 h6,
.col-3 h6,
.col-4 h6{
    color: #808080;
    font-size: 18px;
}
.col-2 .height{
    color: #808080;
    line-height: 50px;
    width: 66%;
}
.up{
    margin-top: -35px;
}

.col-4{
    margin-left: 100px;
    width: 100%;
}

.social-img img{
    margin: 15px 25px 0px 0px;

}

.certified-img img{
    margin: 10px;
    width: 120px;
    height: 40px;
}

.certified-img .tuv{
    width: 70px; 
    height: 40px;
}

/* back to top button */
.btn-blackk{
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
}
.btn-blackk:hover,
.btn-blackk:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}


/* ============================================ 
              Navigation
   ============================================ */
.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}
.navbar-brand h1{
    color: #fff;
    position: absolute;
    top: 0px;
    margin-top: -3px;
}
ul.navbar-nav > li > a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav > li > a:focus,
ul.navbar-nav > li > a:hover {
    background: none;
    color: #f4c613;
}


/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top h1{
    color: #000;
    margin-top: 5px;
    font-size: 30px;
}
.white-nav-top ul.navbar-nav > li > a {
    color: #212226;
}

.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus {
    color: #f4c613;
}

/* scroll spy active state */
.white-nav-top ul.navbar-nav > li.active > a {
    color: #f4c613;
    font-weight: 500;
}

/* ============================================        
            Mobile Menu
   ============================================ */
.navbar-header{
    position: relative;
}
#mobile-nav-open-btn{
    font-size: 50px;
    color: #f4c613;
    cursor: pointer;
    z-index: 20;
    position: absolute;
    right: 0;
    top: 6px;
    /*hide mobile nav open btn */
    display: block;
}

#mobile-nav {
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}
#mobile-nav-close-btn{
    font-family: "Rale-way", sans-serif;
    font-size: 17px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
    
}

#mobile-nav ul li{
    margin-bottom: 20px;
}
#mobile-nav a{
    font-family: "Rale-way", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s; 
    transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus{
    color: #f4c613;
    background: none;
}

/* Mobile scroll spy active state */
.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}


